<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DengLu</display-name>
  <servlet>
  <servlet-name>r</servlet-name>
  <servlet-class>com.tyu.Doget</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>r</servlet-name>
  <url-pattern>/int</url-pattern>
  
  </servlet-mapping>
  <servlet>
  <servlet-name>Q</servlet-name>
  <servlet-class>com.tyu.StuController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Q</servlet-name>
  <url-pattern>/denglu</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>E</servlet-name>
  <servlet-class>Shujuku_a.Dopost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>E</servlet-name>
  <url-pattern>/shujuku</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>t</servlet-name>
  <servlet-class>com.tyu.Fendopost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>t</servlet-name>
  <url-pattern>/fenye</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>y</servlet-name>
  <servlet-class>com.tyu.Shooppost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>y</servlet-name>
  <url-pattern>/goshoop</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>QW</servlet-name>
  <servlet-class>Shujuku_a.DOPOS</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>QW</servlet-name>
  <url-pattern>/fen</url-pattern>
  </servlet-mapping>
  <!-- <filter>
  设置过滤器 
  <filter-name>ZHAO</filter-name>
  <filter-class>com.guoluqi.EncodingFilter</filter-class>
  <init-param>
  <param-name>encoding</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
   </filter>
   <filter-mapping>
   <filter-name>ZHAO</filter-name>
   <url-pattern>/*</url-pattern>
   </filter-mapping> -->
  <servlet>
  <servlet-name>zxc</servlet-name>
  <servlet-class>Shujuku_a.Godopost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>zxc</servlet-name>
  <url-pattern>/che</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>QWA</servlet-name>
  <servlet-class>Shujuku_a.DeleDopost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>QWA</servlet-name>
  <url-pattern>/zxv</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>QWu</servlet-name>
  <servlet-class>Shujuku_a.UpdateNumAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>QWu</servlet-name>
  <url-pattern>/ABC</url-pattern>
  </servlet-mapping>
</web-app>